<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LMS</title>
  <link rel="stylesheet" href="css/login.css" />
  <script src="js/login.js"></script>
</head>
<body>
  <div class="container">
    <div class="box">
      <p class="header">Admin Login</p>
      <div class="textbox-container">
        <label>Admin name:</label>
        <input type="text" id="login-username" class="textbox">
      </div>
      <div class="textbox-container">
        <label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" id="login-password" class="textbox">
      </div>
      <button class="button action-button" id="login" onclick="loginAdmin()">Login</button>
      <a href="/">Login as User</a>
    </div>
  </div>
</body>
</html>