<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/student.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 class="app-title">LMS</h1>
      <div class="options">
        <input type="text" id="search-bar" placeholder="Search your book here..">
        <div class="actions">noti &nbsp chat</div>
        <div id="username">user</div>
      </div>
    </div>
    <div id="book-shelf"></div>
    <div id="borrowed-books"></div>
  </body>
</html>
