body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.app-title {
  text-align: center;
  color: black;
  text-shadow: #ccc -1px 0px 6px;
  margin: 0;
  margin: 1% 0% 0% 2%;
}

.book-shelf {
  margin: 1% 0.8% 2% 0.8%;
  background-color: white;
  border-radius: 4px;
  box-shadow: #ccc -1px 0px 6px;
  padding-left: 1.5%;
  padding-bottom: 1.5%;
  width: 100%;
}

.empty {
  display: block;
  text-align: center;
  font-size: large;
  font-weight: 600;
  margin-top: 3%;
  opacity: 0.2;
}

.shelf {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 13%;
  border: 1px solid;
  margin: 1% 1% 0 0;
  border-radius: 2px;
  text-align: center;
}

.book:hover .svg {
  visibility: visible;
}

.book-name {
  margin-bottom: 25%;
  padding-top: 4%;
  font-size: 20px;
  padding-bottom: 3%;
  margin-top: 18%;
}

.book-status {
  margin-bottom: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  margin: 1% 2% 0 0;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

.text {
  padding-left: 0.6%;
  width: 15%;
  height: 55%;
}

.hide-display {
  display: none;
}

.actions {
  margin-left: 1%;
}

.svg {
  width: 15%;
}

.hide {
  visibility: hidden;
}

.book-options {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option {
  margin-right: 2%;
}

.button {
  font-size: 14px;
  border-radius: 4px;
  height: 69%;
  background: linear-gradient(45deg, #5086d6, #418fdcf7);
  color: white;
  margin-left: 0.2%;
}

.borrowed-books {
  margin: 1% 0.8% 0.8% 0.8%;
  background-color: white;
  border-radius: 4px;
  box-shadow: #ccc -1px 0px 6px;
  padding-left: 1.5%;
  padding-bottom: 1.5%;
}

.shelf-header {
  text-align: center;
  padding-top: 1%;
  font-size: 20px;
  font-weight: 600;
}

.description {
  font-weight: 100;
  font-size: 15px;
}

.username {
  background-color: rgba(50, 50, 50, 1);
  color: white;
  border-radius: 4px;
  padding: 0.5%;
  cursor: pointer;
  margin-left: 1%;
}

.username-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(241, 40, 40);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0.5%;
  transform: translate(-30%);
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.username:hover .username-dropdown {
  display: block;
}

.container {
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin: 1% 0% 2% 1%;
  background-color: white;
  border-radius: 4px;
  box-shadow: #ccc -1px 0px 6px;
  max-width: 3%;
  overflow: hidden;
}

img {
  width:70%;
}

.img-div {
  margin-top: 20%;
  display: flex;
  justify-content: center;;
}
